.characteristics-sty{
    display: grid;
    justify-content: center;
    /* background-color: aqua; */
    text-align: center;
    /* width: 300px; */
    gap: 30px;
    /* background-color: aqua; */
}
.single{
    display: grid;
}
@media screen and (max-width: 768px) {
    .body-type{
        scroll-behavior: smooth;
        scrollbar-color: black;
    }
}